<% include ./partials/header %>
<% var user = deelnemers %>


<a href="/reseed">Reseed</a> - <a href="#" onClick="maakRonde()">Maak indeling</a>

<div>
  <span id="waarschuwing"></span>
  <ul id="indelingOverzicht">
  </ul>
</div>

<div id="indelingDiv">
  <table class="table" id="indelingTable">
    <thead class="thead-dark">
      <th scope="col">
        Rijder
      </th>
      <th scope="col">
        Bijrijder(s)
      </th>
    </thead>
  </table>
</div>

<script src="/js/main.js"></script>

<% include ./partials/footer %>