<% include ./partials/header %>
<% if (!indeling) { var indeling = [] } %>

<a href="/reseed">Reseed</a> - <a href="/maakIndeling">Maak indeling</a>

<div>
  <span id="waarschuwing"></span>
  <ul id="indelingOverzicht">
  </ul>
</div>


<div id="indelingDiv">
  <table class="table" id="indelingTable">
    <thead class="thead-dark">
      <th scope="col">
        Rijder
      </th>
      <th scope="col">
        Bijrijder(s)
      </th>
    </thead>
    <tbody>
    <% indeling.forEach(auto => { %>
      <tr>
      <td><%= auto.rijder.name %></td>
      <td>
        <ul>
          <% auto.bijrijder.forEach(bijrijder => { %>
            <li><%=bijrijder.name %></li>
          <% }) %>
        </ul>
      </td>
      </tr>

    <% }) %>
    
    </tbody>
  </table>
</div>

<script src="/js/main.js"></script>

<% include ./partials/footer %>