<% include ./partials/header %>

<h3>Login</h3>

<form method='POST' action='/login'>
  <input type="text" name="user[name]" id="nameInput" placeholder="Loginnaam" />
  <input type="password" name="user[password]" id="pwInput"><br>
  <input type="submit" value="Login" class="btn btn-primary">
</form>

<% include ./partials/footer %>